body {
  margin: 0;
  font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #fffdf5, #FFFBEC) top,
    linear-gradient(to top, #fffdf5, #FFFBEC) bottom;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.karla {
  font-family: 'Karla';
}

.markazi {
  font-family: 'Markazi Text';
}

.brand_green_transparent {
  background-color: #b3c9c277 !important;
}

.full-width {
  width: 99.60vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-inline: -50vw;
  top: -100px;
  z-index: -1;
}

@media (min-width: 992px) {
  .negative-margin {
    margin-top: -100px !important;
  }
}

.glass_morph {
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}

.btn-warning {
  background-color: #F4CE14 !important;
  border-color: #F4CE14;
}

.btn-warning:hover {
  color: white !important;
  background-color: #495E57 !important;
  border-color: #495E57 !important;
}